*.gz
*.iml
*.log
*.rar
*.tar
*.zip
.DS_Store
.docz
.history
.idea
.mrirc.ts
.mritemp
.project
.umi
.umi-production
.vscode
Thumbs.db
__MACOSX/
bridges
demoapp
dist
mrerc.ts
node_modules
package.json
pages
src/projects/*/package.json
tmp
typings
vscode
yarn-error.log
yarn.lock
